@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
:root {
  --white : #ffffff;
  --black : #111111;
  --primary-color: #270082;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
/* header */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.menu-toggle{
  display: none;
}
header.sticky {
  background: var(--white);
  padding: 10px 40px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header > .logo {
  color: var(--white);
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  min-height: 44px;
  min-width: 44px;
}
header.sticky > .logo {
  color: var(--black);
}
header > .logo span {
  margin-left: 4px;
  color: #73c7ff;
}
header > .navigation{
  position: relative;
  display: flex;
}
header > .navigation li {
  list-style: none;
  margin-left: 30px;
}
header > .navigation li a{
  text-decoration: none;
  font-weight: 300;
  color: var(--white);
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}
header.sticky > .navigation li a{
  color: var(--black);
}
header > .navigation li a:hover{
  color: #83cdff;
  text-decoration: underline;
}
/*
 * Banner
 *
 */
 .banner{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('https://storage.googleapis.com/mybucket-vikram/backround.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
.banner > .content {
  max-width: 900px;
  text-align: center;
  padding: 10px;
}
.banner > .content > h1 {
  margin-bottom: 50px;
  font-size: 4rem;
  color: var(--white);
  font-weight: 600;
}
.banner > .content > p {
  font-size: 1rem;
  color: var(--white);
  font-weight: 300;
  margin-bottom: 100px;
  font-style: italic;
}
.btn{
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #66c8af;
  text-decoration: none;
}
.btn:hover{
  box-shadow: 0 3px 10px 1px #73c7ff;
  transform: translateY(-0.25em);
  background: #73c7ff;
  color: black;
  border: #66c8af;
}

/** contents **/
h3 {
  margin: 30px;
  font-size: 20px;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
  padding: 30px;
  margin: 30px;
  width: 300px;
  border-top: 4px solid hsl(212, 86%, 64%); 
}

.card > h4 {
  text-align: center;
  margin-bottom: 10px;
}
.card > p {
  color: gray;
  font-size: 13px;
  margin-bottom: 20px;
  text-overflow: ellipsis;
}

.btn-src {
  text-decoration: none;
  margin-left: 30%;
  padding: 7px;
  border: 2px solid black;
  font-size: 11px;
  color: #000;
}

.btn-src:hover {
  color: white;
  background-color: black;
}
footer{
  background:#333;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  /*
  * Header
  *
  */
  header > .logo{
    font-size: 1.6em;
  }
  header, header.sticky {
      padding: 10px 20px;
  }
  header.sticky .menu-toggle{
      filter: invert(1);
  }
  header > .navigation{
      display: none;
  }
  header > .navigation.active{
      width: 100%;
      height: calc(100% - 60px);
      position: fixed;
      top: 60px;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: var(--white);
  }
  header > .navigation li {
      margin-left: 0;
  }
  header > .navigation li a{
      color: var(--black);
      font-size: 1.6rem;
  }
  .menu-toggle{
      display: block;
      position: relative;
      width: 44px;
      height: 44px;
      background: url('https://storage.googleapis.com/mybucket-vikram/menu.png');
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      border: none;
      -webkit-appearance: none;
  }
  .menu-toggle.active{
      background: url('https://storage.googleapis.com/mybucket-vikram/close.png');
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center;
  }
  /*
  * Banner
  *
  */
  .banner > .content > h1 {
      font-size: 2.5rem;
  }
  .banner > .content > p {
      font-size: 1rem;
  }
}